{
  "rabbitmq": {
    {% if sensu_rabbitmq_cert_file !='' -%}
    "ssl": {
    "cert_chain_file": "{{ sensu_rabbitmq_cert_file }}",
    "private_key_file": "{{ sensu_rabbitmq_key_file }}"
    },
    {%- endif %}
    "host": {{ sensu_rabbitmq_host | to_nice_json }},
    "port": {{ sensu_rabbitmq_port }},
    "user": "{{ sensu_rabbitmq_user }}",
    "password": "{{ sensu_rabbitmq_password }}",
    "vhost": "{{ sensu_rabbitmq_vhost }}" 
  },
  "redis": {
   "host": {{ sensu_redis_host | to_nice_json }},
   "port": {{ sensu_redis_port }}
  },
  "api": {
   "host": {{ sensu_api_host | to_nice_json }},
   "port": {{ sensu_api_port }}
  },
  "handlers": {
   "default": {
      "type": "{{ handlers_type }}",
      "command": "{{ handlers_command }}"
    }
  }
}
